@charset "UTF-8";
/* 
    em HTML é id = em CSS é # (só pode um elemento na mesma página)
    em HTML é class = em CSS é . (pode vários elementos)
*/
body {
    background-color: rgb(164, 236, 164);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(17, 116, 17);
}

h1#principal {
    text-align: center;
    background-color: green;
    color: white;
}

h2 {
    color: rgb(13, 97, 13);
}

.basico {
    color: blueviolet;
    font-style: italic;
}

.intermediario {
    color: rgb(255, 0, 179);
}

.avancado {
    color: red;
}

.destaque {
    background-color: rgba(255, 166, 0, 0.774);
}