body {
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    /*Medidas Absolutas
    cm, mm, in(polegada), px, pt, pc

    Medidas Relativas
    em(tamanho de letra maiúscula), ex(tamanho da altura X), rem, vw(porcentagem da largura da tela), vh(altura da vieport), 

    Recomendável usar: px e em
    */
    /* 1em usada por navegadores como padrão, 16px=1em */;
    text-decoration: underline;
    font: italic bolder 1em 'Work Sans', sans-serif;
    /*weight=peso, width=largura, height=altura */
    /*Shorthand font
    - font-style -> font-weight -> font-size -> font-family*/
}